<div class="courses-panel">
    <div class="header">
        <h2 class="title">Αρχεία προμηθευτών</h2>        
    </div>
    <div class="centered-content">
        <p>
          {{ descriptionText }}
        </p>
        <button mat-raised-button color="primary" (click)="export()">
            Εκτύπωση
            </button>
    <mat-tab-group (selectedTabChange)="tabChanged($event)" mat-align-tabs="center">
        <mat-tab  label="Λίστα προμηθευτών" >
            <app-suppliers-list></app-suppliers-list>
        </mat-tab>  
        <mat-tab  label="Αξιολόγηση προμηθευτών" >
            <div *ngIf="selectedTabIndex === 1">
                <app-supplier-evaluation></app-supplier-evaluation>
            </div>
        </mat-tab>       
    </mat-tab-group>
    </div> 
</div> 
