<mat-sidenav-container class="app-shell">
  <mat-sidenav #start (click)="start.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
        <span>Αρχική Σελίδα</span>
      </a>

      <a mat-list-item routerLink="/admin-dashboard" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async) && (user.isAdminUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Admin dashboard</span>
      </a>

      <a mat-list-item routerLink="/business-files" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>business</mat-icon>
        <span>Αρχεία επιχείρησης</span>
      </a>

      <a mat-list-item routerLink="/staff-files" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>people</mat-icon>
        <span>Αρχεία προσωπικού</span>
      </a>

      <a mat-list-item routerLink="/water-files" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>science</mat-icon>
        <span>Αρχεία Αναλύσεων</span>
      </a>

      <a mat-list-item routerLink="/disinsect-files" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>pest_control</mat-icon>
        <span>Αρχεία απεντομώσεων και μυοκτονιών</span>
      </a>

      <a mat-list-item routerLink="/supplier-files" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>local_shipping</mat-icon>
        <span>Αρχεία προμηθευτών</span>
      </a>

      <a mat-list-item routerLink="/allergenic" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>warning_amber</mat-icon>
        <span>Aλλεργιογόνα</span>
      </a>

      <a mat-list-item routerLink="/temperatures" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>thermostat</mat-icon>
        <span>Αρχείο παρακολούθησης θερμοκρασιών</span>
      </a>

      <a mat-list-item routerLink="/cleaning-disinfection" *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)" routerLinkActive="router-link-active">
        <mat-icon>cleaning_services</mat-icon>
        <span>Έλεγχος καθαρισμού</span>
      </a>

      <a mat-list-item routerLink="/auth" *ngIf="user.isLoggedOut$ | async">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>

      <a mat-list-item routerLink="/auth" *ngIf="user.isLoggedIn$ | async" (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-sidenav-content">
    <mat-toolbar class="custom-toolbar app-toolbar">
      <div class="toolbar-tools">
        <button mat-icon-button (click)="start.open('mouse')" class="menu-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="filler"></div>
        <img src="/assets/logo.png" class="toolbar-logo" alt="Logo" />
        <div class="filler"></div>
        <ng-container *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async)">
          <button mat-button class="user-avatar" (click)="editUser()">
            <mat-icon>account_circle</mat-icon>
            <span>{{user.loginMessage}}</span>
          </button>
        </ng-container>
      </div>

      <div class="selected-user-banner"
           *ngIf="(user.isLoggedIn$ | async) && (user.isActiveUser$ | async) && (user.isAdminUser$ | async)">
        <mat-icon>badge</mat-icon>
        <span *ngIf="user.selectedAdminUser$ | async as selectedUser; else noSelectedUser">
          Επιλεγμένος χρήστης: <strong>{{ selectedUser.name || selectedUser.urid }}</strong>
        </span>
        <ng-template #noSelectedUser>
          <span>Δεν έχει επιλεγεί χρήστης από το Admin Dashboard.</span>
        </ng-template>
      </div>
    </mat-toolbar>

    <main class="app-scroll-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

