<div class="create-course">
  <h3 mat-dialog-title>Δημιουργία προφίλ θερμοκρασιών</h3>

  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <input placeholder="Όνομα" matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-select placeholder="Συντήρηση/Κατάψυξη" formControlName="category">
          <mat-option value="FRIDGES">Συντήρηση</mat-option>
          <mat-option value="FREEZERS">Κατάψυξη</mat-option>
          <mat-option value="HOTS">Διατήρηση εν θερμώ</mat-option>
          <mat-option value="COOKED">Μαγειρεμένα</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="close()">
      <mat-icon>close</mat-icon> Κλείσιμο
    </button>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="saveCategory()">
      <mat-icon>add</mat-icon> Προσθήκη
    </button>
  </mat-dialog-actions>
</div>
