
:host {
    display: flex;
    justify-content: center;
}

.create-course {
    min-width: 420px;
}

::ng-deep .mat-dialog-content {
    padding-bottom: 64px !important;
}

.course-thumbnail {
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.create-course form {
    display: flex;
    flex-direction: column;
}

.create-course form mat-form-field {
    width: 100%;
}

.course-image-upload {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
}

.promo {
  margin-bottom: 20px;
}

.course-image-upload span {
  margin-bottom:10px;
}

.upload-progress {
  display: flex;
  margin: 10px;
  max-width: 250px;
}

.progress-bar {
  margin: 10px;
  width: 300px;
}

.uploaded-image {
  max-width: 250px;
}

