.courses-panel {
    max-width: 1200px;
    margin: 20px auto 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-right: 15px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }