<div class="courses-panel">
    <div class="centered-content">
        <p>{{ descriptionText }}</p>

        <ul class="custom-bullets">
            <li *ngFor="let item of items">{{ item }}</li>
        </ul>

        <mat-tab-group (selectedTabChange)="tabChanged($event)" mat-align-tabs="center">
            <mat-tab *ngFor="let menuEl of menu" label="{{ menuEl.title }}">

                <!-- Upload button for Πιστοποιητικά υγείας and Εκπαιδεύσεις προσωπικού -->
                <ng-container *ngIf="menuEl.title === 'Πιστοποιητικά υγείας' || menuEl.title === 'Εκπαιδεύσεις προσωπικού'">
                    <div class="cert-action">
                        <button mat-raised-button color="primary" (click)="openUploadDialog()">
                            <mat-icon>upload_file</mat-icon>
                            Ανέβασμα αρχείου
                        </button>
                    </div>
                </ng-container>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>
