
.courses-panel {
    max-width: 800px;
    margin: 20px auto 0 auto;
}

.cert-action {
    padding: 20px 0 10px 0;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-right: 15px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }