<div class="courses-panel">

  <div class="page-hero">
    <mat-icon class="hero-icon">thermostat</mat-icon>
    <h1 class="hero-title">Αρχείo παρακολούθησης θερμοκρασιών</h1>
  </div>

  <div class="centered-content">
    <p>
      {{ descriptionText }}
    </p>
  <br>
 <br>
  
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description>
          Εκτύπωση θερμοκρασιών
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="outline" >
        <mat-label>Από</mat-label>
        <input matInput [matDatepicker]="fromDatePicker"  (dateInput)="setDateFrom($event)" readonly>
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Εως</mat-label>
        <input matInput [matDatepicker]="toDatePicker" (dateInput)="setDateTo($event)" readonly>
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
     
      <button mat-raised-button color="primary" (click)="export()">
        Εκτύπωση
        </button>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-form-field appearance="outline" >
    <mat-label>Ημερομηνία</mat-label>
    <input matInput [matDatepicker]="promoStartPicker" [max]="maxDate" (dateInput)="getTemperaturesByDate($event)" readonly>
    <mat-datepicker-toggle matSuffix [for]="promoStartPicker"></mat-datepicker-toggle>
    <mat-datepicker #promoStartPicker></mat-datepicker>
  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="addRow()">
    <mat-icon>add</mat-icon> Προσθήκη
  </button>
  <br>

  <!-- Συντήρηση -->
   <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Συντήρηση" >
    <form #myform = "ngForm">
        <div class="table-scroll">
        <table mat-table [dataSource]="fridgeData" class="fridge-table mat-elevation-z2">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Όνομα </th>
            <td mat-cell *matCellDef="let element ; let i = index;" class="example-form-field"> 
              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label> Ονομα</mat-label>
                <input matInput type="text" 
                            name="name{{i}}"
                            [(ngModel)]="element.name" >
              </mat-form-field>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="temperatureMorning">
            <th mat-header-cell *matHeaderCellDef> Πρωινή Θερμοκρασία < +5°C </th>
            <td mat-cell *matCellDef="let element ; let i = index;">
              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label> Πρωινή Θερμοκρασία </mat-label>
                      <mat-select
                          name="temperatureMorning{{i}}"
                          [(ngModel)]="element.temperatureMorning"
                        >
                          <!-- Options for the dropdown -->
                          <mat-option *ngFor="let temperature of temperatureFridgeOptions" [value]="temperature">
                            {{ temperature }} °C
                          </mat-option>
                        </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="temperatureAfternoon">
            <th mat-header-cell *matHeaderCellDef> Απόγευματινη Θερμοκρασία < +5°C </th>
            <td mat-cell *matCellDef="let element ; let i = index;">
              <mat-form-field class="example-form-field" appearance="fill">
                <mat-label> Απόγευματινη Θερμοκρασία</mat-label>               
                      <mat-select
                          name="temperatureAfternoon{{i}}"
                          [(ngModel)]="element.temperatureAfternoon"                        >
                          <!-- Options for the dropdown -->
                          <mat-option *ngFor="let temperature of temperatureFridgeOptions" [value]="temperature">
                            {{ temperature }} °C
                          </mat-option>
                        </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Διαγραφή </th>       
            <td mat-cell *matCellDef="let element ; let i = index;">          
              <mat-icon class="delete-icon" (click)="onDeleteFridgeTemperature(i)">delete</mat-icon>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        </div>
        <mat-paginator #fridgePaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <div class="action-row">
          <button mat-raised-button color="primary" (click)="saveAll()">
            <mat-icon>save</mat-icon> Αποθήκευση
          </button>
        </div>
    </form>
  </mat-tab>

      <!-- Κατάψυξη -->
      <mat-tab label="Κατάψυξη">
        <form #myform = "ngForm">
          <div class="table-scroll">
          <table mat-table [dataSource]="freezerData" class="fridge-table mat-elevation-z2">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Όνομα </th>
              <td mat-cell *matCellDef="let element ; let i = index;" class="example-form-field">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Ονομα</mat-label>
                  <input matInput type="text"
                              name="name{{i}}"
                              [(ngModel)]="element.name" >
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="temperatureMorning">
              <th mat-header-cell *matHeaderCellDef> Πρωινή Θερμοκρασία &lt; -18°C </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Πρωινή Θερμοκρασία </mat-label>
                        <mat-select
                            name="temperatureMorning{{i}}"
                            [(ngModel)]="element.temperatureMorning">
                            <mat-option *ngFor="let temperature of temperatureFreezerOptions" [value]="temperature">
                              {{ temperature }} °C
                            </mat-option>
                          </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="temperatureAfternoon">
              <th mat-header-cell *matHeaderCellDef> Απόγευματινη Θερμοκρασία &lt; -18°C </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Απόγευματινη Θερμοκρασία</mat-label>
                      <mat-select
                            name="temperatureAfternoon{{i}}"
                            [(ngModel)]="element.temperatureAfternoon">
                            <mat-option *ngFor="let temperature of temperatureFreezerOptions" [value]="temperature">
                              {{ temperature }} °C
                            </mat-option>
                          </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Διαγραφή </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-icon class="delete-icon" (click)="onDeleteFreezerTemperature(i)">delete</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          </div>
          <mat-paginator #freezerPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          <div class="action-row">
            <button mat-raised-button color="primary" (click)="saveAll()">
              <mat-icon>save</mat-icon> Αποθήκευση
            </button>
          </div>
        </form>
      </mat-tab>


      <!-- Διατήρηση εν θερμώ -->
      <mat-tab label="Διατήρηση εν θερμώ">
        <form #myform = "ngForm">
          <div class="table-scroll">
          <table mat-table [dataSource]="hotsData" class="fridge-table mat-elevation-z2">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Όνομα </th>
              <td mat-cell *matCellDef="let element ; let i = index;" class="example-form-field">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Ονομα</mat-label>
                  <input matInput type="text"
                              name="name{{i}}"
                              [(ngModel)]="element.name" >
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="temperature">
              <th mat-header-cell *matHeaderCellDef> Θερμοκρασία &gt; 60°C </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Θερμοκρασία &gt; 60°C </mat-label>
                        <mat-select
                            name="temperature{{i}}"
                            [(ngModel)]="element.temperature">
                            <mat-option *ngFor="let temperature of temperatureHotsOptions" [value]="temperature">
                              {{ temperature }} °C
                            </mat-option>
                          </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Διαγραφή </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-icon class="delete-icon" (click)="onDeleteHotTemperature(i)">delete</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOneTemperature"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOneTemperature;"></tr>
          </table>
          </div>
          <mat-paginator #hotsPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          <div class="action-row">
            <button mat-raised-button color="primary" (click)="saveAll()">
              <mat-icon>save</mat-icon> Αποθήκευση
            </button>
          </div>
        </form>
      </mat-tab>


      <!-- Μαγειρεμένα -->
      <mat-tab label="Μαγειρεμένα">
        <form #myform = "ngForm">
          <div class="table-scroll">
          <table mat-table [dataSource]="cookedData" class="fridge-table mat-elevation-z2">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Όνομα </th>
              <td mat-cell *matCellDef="let element ; let i = index;" class="example-form-field">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Ονομα</mat-label>
                  <input matInput type="text"
                              name="name{{i}}"
                              [(ngModel)]="element.name" >
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="temperature">
              <th mat-header-cell *matHeaderCellDef> Θερμοκρασία &gt; 75°C </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-form-field class="example-form-field" appearance="fill">
                  <mat-label> Θερμοκρασία &gt; 75°C </mat-label>
                        <mat-select
                            name="temperature{{i}}"
                            [(ngModel)]="element.temperature">
                            <mat-option *ngFor="let temperature of temperatureCookedOptions" [value]="temperature">
                              {{ temperature }} °C
                            </mat-option>
                          </mat-select>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Διαγραφή </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <mat-icon class="delete-icon" (click)="onDeleteCookedTemperature(i)">delete</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsOneTemperature"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOneTemperature;"></tr>
          </table>
          </div>
          <mat-paginator #cookedPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          <div class="action-row">
            <button mat-raised-button color="primary" (click)="saveAll()">
              <mat-icon>save</mat-icon> Αποθήκευση
            </button>
          </div>
        </form>
      </mat-tab>
  </mat-tab-group>
</div> 
</div>

